<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Critical Capacity</string>
		<key>Description</key>
		<string>Hella Money, Yo!</string>
		<key>Documents</key>
		<array>
			<dict>
				<key>Title</key>
				<string>I-129</string>
				<key>Description</key>
				<string>Hella Hard</string>
				<key>Parts</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Real Title 1</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 2</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 3</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Hey Ho</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Employment Verification</string>
				<key>Description</key>
				<string>Verification letter</string>
				<key>Parts</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Real Title 4</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 5</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 6</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Document Title</string>
				<key>Description</key>
				<string>the description</string>
				<key>Parts</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Real Title 7</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 8</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 9</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>MemberShip</string>
		<key>Description</key>
		<string>Get Into YC</string>
		<key>Documents</key>
		<array>
			<dict>
				<key>Title</key>
				<string>I-129</string>
				<key>Description</key>
				<string>Hella Hard</string>
				<key>Parts</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Real Title 1</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 2</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 3</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Employment Verification</string>
				<key>Description</key>
				<string>Verification letter</string>
				<key>Parts</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Real Title 4</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 5</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 6</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Document Title</string>
				<key>Description</key>
				<string>the description</string>
				<key>Parts</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Real Title 7</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 8</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>Real Title 9</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
